#canvas {
  border: 1px solid black;
  background-color: white;
}

.main {
  text-align: center;
}

.button {
  text-align: center;
  button {
    font-size: 25px;
    background-color: #875ad7;
    color: white;
  }

  button:disabled {
    background-color: #9e9e9e;
  }
}

.title {
  text-align: center;

  p {
    font-size: 30px;
    font-weight: bold;
  }
}

.ranking {
  .ranking-title {
    text-align: center;

    p {
      font-size: 30px;
      font-weight: bold;
    }
  }
  .ranking-list {
    list-style: none;
    text-align: center;
    font-size: 20px;
  }
}

body {
  background-color: #c8b3ef;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(50, 49, 49, 0.5);
  padding: 40px 20px;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  box-sizing: border-box;
}

.modal-container:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.modal-container.active {
  opacity: 1;
  visibility: visible;
}

.modal-body {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  max-width: 500px;
  width: 90%;
}

.modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: -40px;
  right: -40px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  color: #fff;
  cursor: pointer;
}
/*モーダル内のコンテンツの指定*/
.modal-content {
  background: #fff;
  text-align: left;
  padding: 30px;
}
